@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100:wght@200:wght@300:wght@400:wght@500:wght@600:wght700:wght&display=swap');
#main {
    font-family: 'Montserrat', sans-serif;
    width: 70vw;
    height: auto;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
}


#cart_ul{
    width: 60%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 12px;
    color: rgb(26, 26, 26);
    padding: 0;
}