@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100:wght@200:wght@300:wght@400:wght@500:wght@600:wght700:wght&display=swap');
.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
img {
    background: none;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    padding: 8px 14px; 
    background-color: #9400FF;
    border-radius: 8px;
    font-size: 20px; 
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#icon{
    width: 20px;
    color: white;
}
#button span{
    background-color: white;
    padding: 0;
    font-size: 20px; 
    color: #9400FF;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 50%;
    font-weight: 800;
}

#list{
    color: #9400FF;
    display: flex;
    flex-direction: row;
}

#mainl{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 300px;
    max-height: 500px;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background-color: white;
    border-radius: 12px;
}

#elements{
    min-height: 200px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-top: 0.1px solid rgb(199, 187, 187);
}

#Cart_title{
    padding: 20px 20px 0 20px ;
    font-size: 20px;
    padding-bottom: 20px;
}

#under{
    background-color: #ececec;
    border-radius: 12px;
    padding: 0 12px 12px 12px;
}

#sum{
    font-size: 18px;
    padding: 5px 5px 0 5px;
    margin-top: 15px;
    font-weight: 900;
}
#see_button{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin: 15px auto 0 auto;
    padding: 6px 40px;
    background-color: #9400FF;
    color: white;
    font-size: 17px; 
    border-radius: 50px;
    transition: .3s;
}
#see_button:hover{
    background-color: #8003da;
}