@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100:wght@200:wght@300:wght@400:wght@500:wght@600:wght700:wght&display=swap');
.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 100px;
}

#buttons{
    display: flex;
    flex-direction: row;
}

#mianhead {
    background: none;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px; 
    padding: 8px 14px; 
    border-radius: 8px;
    gap: 1px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    color: black;
}
#icon{
    width: 30px;
    font-size: 25px;
    color: black;
}
#button span{
    background-color: #9400FF;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px; 
    color: #9400FF;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    position: absolute;
    transform: translate(15px,-25px);
    color: white;
}

#list{
    color: #9400FF;
    display: flex;
    flex-direction: row;
}

#mainl{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 300px;
    max-height: 500px;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background-color: white;
    border-radius: 12px;
}

#elements{
    min-height: 200px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-top: 0.1px solid rgb(199, 187, 187);
}

#Cart_title{
    padding: 20px 20px 0 20px ;
    font-size: 20px;
    padding-bottom: 20px;
}

#under{
    background-color: #ececec;
    border-radius: 12px;
    padding: 0 12px 12px 12px;
}

#sumH{
    font-size: 18px;
    padding: 5px 5px 0 5px;
    margin-top: 15px;
    font-weight: 900;
}
#see_button{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin: 15px auto 0 auto;
    padding: 6px 40px;
    background-color: #9400FF;
    color: white;
    font-size: 17px; 
    border-radius: 50px;
    transition: .3s;
}
#see_button:hover{
    background-color: #8003da;
}


@media screen and (max-width: 880px){
    #mianhead{
        width: 130px;
    }
    .header{
        width: calc(100vw - 90px);
        row-gap: 20px;
        position: relative;
        left: 70px;
        margin-top: 20px;
    }
    #button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px; 
        padding: 8px 14px; 
        border-radius: 8px;
        gap: 1px;
        font-family: 'Montserrat', sans-serif;
        flex-direction: column;
        color: black;
    }
    #icon{
        width: 30px;
        font-size: 20px;
        color: black;
    }
    #button span{
        background-color: #9400FF;
        border-radius: 50%;
        padding: 1px;
        font-size: 10px; 
        color: #9400FF;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        position: absolute;
        transform: translate(11px,-20px);
        color: white;
    }
}