@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100:wght@200:wght@300:wght@400:wght@500:wght@600:wght700:wght&display=swap');
.header2{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0 50px 0 ;
}
.img2 {
    background: none;
    width: 230px;
}
.button{
    font-size: 20px; 
}
#icon2{
    margin-left: 20px;
    width: 15px;
    color: rgb(145, 134, 134);
}
.button span{
    padding: 0;
    font-size: 20px; 
    color: #9400FF;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 50%;
    font-weight: 800;
}

#list{
    color: #9400FF;
    display: flex;
    flex-direction: row;
}