@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100:wght@200:wght@300:wght@400:wght@500:wght@600:wght700:wght&display=swap');
.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}
img {
    background: none;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    padding: 8px 14px; 
    background-color: #9400FF;
    border-radius: 8px;
    font-size: 20px; 
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#icon{
    width: 20px;
    color: white;
}
#button span{
    background-color: white;
    padding: 0;
    font-size: 20px; 
    color: #9400FF;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 50%;
    font-weight: 800;
}

#list{
    color: #9400FF;
    display: flex;
    flex-direction: row;
}